.Nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    border-bottom: 1px solid var(--borders);
    padding: 0 20px;

    .NavContainer{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1650px;
        flex-shrink: 0;
        border-left: 1px solid var(--borders);
        border-right: 1px solid var(--borders);
        padding: 0 40px;

        .NavContent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            flex-shrink: 1;

            .NavOptions{
                display: flex;
                gap: 50px;
                align-items: center;
            }
        }

        .NavSettings{
            width: 110px;
        }
    }
}